
<div id="lockScreenMask"></div>

<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>
<style>
#loading-normal{
    position:relative;
    width:62px;
    height:77px}
.blockG{
    position:absolute;
    background-color:#FFFFFF;
    width:10px;
    height:24px;
    -moz-border-radius:8px 8px 0 0;
    -moz-transform:scale(0.4);
    -moz-animation-name:fadeG;
    -moz-animation-duration:1.04s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-direction:linear;
    -webkit-border-radius:8px 8px 0 0;
    -webkit-transform:scale(0.4);
    -webkit-animation-name:fadeG;
    -webkit-animation-duration:1.04s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-direction:linear;
    -ms-border-radius:8px 8px 0 0;
    -ms-transform:scale(0.4);
    -ms-animation-name:fadeG;
    -ms-animation-duration:1.04s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-direction:linear;
    -o-border-radius:8px 8px 0 0;
    -o-transform:scale(0.4);
    -o-animation-name:fadeG;
    -o-animation-duration:1.04s;
    -o-animation-iteration-count:infinite;
    -o-animation-direction:linear;
    border-radius:8px 8px 0 0;
    transform:scale(0.4);
    animation-name:fadeG;
    animation-duration:1.04s;
    animation-iteration-count:infinite;
    animation-direction:linear;
}

#rotateG_01{
    left:0;
    top:28px;
    -moz-animation-delay:0.39s;
    -moz-transform:rotate(-90deg);
    -webkit-animation-delay:0.39s;
    -webkit-transform:rotate(-90deg);
    -ms-animation-delay:0.39s;
    -ms-transform:rotate(-90deg);
    -o-animation-delay:0.39s;
    -o-transform:rotate(-90deg);
    animation-delay:0.39s;
    transform:rotate(-90deg);
}

#rotateG_02{
    left:8px;
    top:10px;
    -moz-animation-delay:0.52s;
    -moz-transform:rotate(-45deg);
    -webkit-animation-delay:0.52s;
    -webkit-transform:rotate(-45deg);
    -ms-animation-delay:0.52s;
    -ms-transform:rotate(-45deg);
    -o-animation-delay:0.52s;
    -o-transform:rotate(-45deg);
    animation-delay:0.52s;
    transform:rotate(-45deg);
}

#rotateG_03{
    left:26px;
    top:3px;
    -moz-animation-delay:0.65s;
    -moz-transform:rotate(0deg);
    -webkit-animation-delay:0.65s;
    -webkit-transform:rotate(0deg);
    -ms-animation-delay:0.65s;
    -ms-transform:rotate(0deg);
    -o-animation-delay:0.65s;
    -o-transform:rotate(0deg);
    animation-delay:0.65s;
    transform:rotate(0deg);
}

#rotateG_04{
    right:8px;
    top:10px;
    -moz-animation-delay:0.78s;
    -moz-transform:rotate(45deg);
    -webkit-animation-delay:0.78s;
    -webkit-transform:rotate(45deg);
    -ms-animation-delay:0.78s;
    -ms-transform:rotate(45deg);
    -o-animation-delay:0.78s;
    -o-transform:rotate(45deg);
    animation-delay:0.78s;
    transform:rotate(45deg);
}

#rotateG_05{
    right:0;
    top:28px;
    -moz-animation-delay:0.9099999999999999s;
    -moz-transform:rotate(90deg);
    -webkit-animation-delay:0.9099999999999999s;
    -webkit-transform:rotate(90deg);
    -ms-animation-delay:0.9099999999999999s;
    -ms-transform:rotate(90deg);
    -o-animation-delay:0.9099999999999999s;
    -o-transform:rotate(90deg);
    animation-delay:0.9099999999999999s;
    transform:rotate(90deg);
}

#rotateG_06{
    right:8px;
    bottom:7px;
    -moz-animation-delay:1.04s;
    -moz-transform:rotate(135deg);
    -webkit-animation-delay:1.04s;
    -webkit-transform:rotate(135deg);
    -ms-animation-delay:1.04s;
    -ms-transform:rotate(135deg);
    -o-animation-delay:1.04s;
    -o-transform:rotate(135deg);
    animation-delay:1.04s;
    transform:rotate(135deg);
}

#rotateG_07{
    bottom:0;
    left:26px;
    -moz-animation-delay:1.1700000000000002s;
    -moz-transform:rotate(180deg);
    -webkit-animation-delay:1.1700000000000002s;
    -webkit-transform:rotate(180deg);
    -ms-animation-delay:1.1700000000000002s;
    -ms-transform:rotate(180deg);
    -o-animation-delay:1.1700000000000002s;
    -o-transform:rotate(180deg);
    animation-delay:1.1700000000000002s;
    transform:rotate(180deg);
}

#rotateG_08{
    left:8px;
    bottom:7px;
    -moz-animation-delay:1.3s;
    -moz-transform:rotate(-135deg);
    -webkit-animation-delay:1.3s;
    -webkit-transform:rotate(-135deg);
    -ms-animation-delay:1.3s;
    -ms-transform:rotate(-135deg);
    -o-animation-delay:1.3s;
    -o-transform:rotate(-135deg);
    animation-delay:1.3s;
    transform:rotate(-135deg);
}

@-moz-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-webkit-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-ms-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@-o-keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

@keyframes fadeG{
    0%{
        background-color:#000000}

    100%{
        background-color:#FFFFFF}

}

</style>
<div id="loading-normal" style="position: absolute;top:50%;left:50%;display: none">
    <div class="blockG" id="rotateG_01">
    </div>
    <div class="blockG" id="rotateG_02">
    </div>
    <div class="blockG" id="rotateG_03">
    </div>
    <div class="blockG" id="rotateG_04">
    </div>
    <div class="blockG" id="rotateG_05">
    </div>
    <div class="blockG" id="rotateG_06">
    </div>
    <div class="blockG" id="rotateG_07">
    </div>
    <div class="blockG" id="rotateG_08">
    </div>
</div>
<!--when cant request cdn lib sucessfully
<script type='text/javascript'>//<![CDATA[

    if (typeof jQuery == 'undefined') {

        document.write(unescape("%3Cscript src='/Script/jquery-1.4.1.min.js' type='text/javascript' %3E%3C/script%3E"));

    }//]]>
</script>
 -->
{{if $isDebug}}
<link rel="stylesheet" href="/css/qunit.css"/>
<script src="/js/qunit.js"></script>
{{/if}}
<script src="/js/common/footer.js"></script>
<script src="/js/common/header.js"></script>
<script>if(!(config && 'loadedJs' in config)){ window.config={ loadedJs: ["{{$actionHeaderJs}}","{{$actionJs}}"], isDebug: {{$isDebug}} }}</script>

<script>

    if(window.seajs!==true){
        seajs.config({
            base: "/js/",
            paths: {
                echarts1 : 'echarts/src'
            },
            alias : {
                echarts1 : 'echarts/echarts'
            }
        });
    }





    Modernizr.load([
        // Presentational polyfills
        {
            // Logical list of things we would normally need
            test : Modernizr.prefixed("maxWidth") && Modernizr.prefixed("minWidth"),
            // Modernizr.load loads css and javascript by default
            nope : ['/js/respond.js']
        },
        {
            test : Modernizr.prefixed('console',window),
            nope : '/js/console.js',

            //both : [ 'app.js', 'extra.js' ],
            complete : function () {

            }
        },


   ]);

        /**
         * all payload will be encoded as x-wwww-url-encode when emulateHttp is enable
         */
       // Backbone.emulateHTTP = true;
        Backbone.sync = (function () {
            var oldSync = Backbone.sync;

            return function (method, model, options) {
                options = options || {};
                console.log("pre exec sync", method, model, options);
                if (method.toLowerCase() != 'read') {
                    /**
                     * add post ctoken
                     */
                    options = $.extend({beforeSend: sendAuth}, options);
                }
                if (model.urls) {

                    options.url = (method.toLowerCase() == 'delete') ? (model.urls[method.toLowerCase()] + '/' + model.get((typeof model.idAttribute === 'undefined') ? 'id' : model.idAttribute) + ".json") : model.urls[method.toLowerCase()];
                    options.url = (method.toLowerCase() == 'put') ? (model.urls['put']?model.urls['put']:model.urls['create']): options.url;
                }
                oldSync(method, model, options);

            }


        })();
    $.ajaxSetup({
        beforeSend:sendAuth,
        timeout:10000

    });
        /**
         *  prevent submitting multiple time in short period
         */

    var ajaxSubmitHandler2=_.throttle(ajaxSubmitHandler, 2000);
    $("body").on('submit',"form.ajax-form",ajaxSubmitHandler2);

    checkInput();

    /**
     * use local JSONNATIVE method
     */

    //if(JSONNATIVE){$.parseJSON=JSONNATIVE.parse;$.toJSON= JSONNATIVE.stringify;}


    seajs.use(config.loadedJs);

</script>


