<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    {{if $android}}
    <meta name="mobile-web-app-capable" content="yes">
    {{/if}}
    {{if $ios}}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="{{$siteName}}">
    {{/if}}

    {{if false}}
    optimize for web app
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    {{/if}}
    {{if $ie10plus}}
    <meta name="msapplication-tap-highlight" content="no" />
    {{/if}}


    {{if $win7plus}}
    <!-- Name the Pinned Site for Windows -->
    <meta name="application-name" content="{{$siteName}}">
    <!-- Give your Pinned Site a tooltip-->
    <meta name="msapplication-tooltip" content="{{$siteDesc}}">
    <!-- Set a default page for your Pinned Site -->
    <meta name="msapplication-starturl" content="{{$siteUrl}}">
    {{/if}}

    {{if $imgdir}}
    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <link rel="apple-touch-icon-precomposed" href="{{$imgdir}}apple-touch-icon-precomposed.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{$imgdir}}logo-72x72.png">
    <!-- For the iPad mini and the first- and second-generation iPad on iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="{{$imgdir}}logo-76x76.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{$imgdir}}logo-114x114.png">
    <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{$imgdir}}logo-120x120.png">
    <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{$imgdir}}logo-144x144.png">
    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{$imgdir}}logo-152x152.png">
    {{/if}}
    {{if $actionCss}}
    <link rel="stylesheet" href="/css/{{$actionCss}}"/>
    {{/if}}

   