
<!doctype html>
<html>
<head>
    <meta charset="utf8">
    <meta name="description" content="你访问的页面找不回来了，但是我们可以一起寻找失踪宝贝" />
    <meta name="description" content="公益404页面是由锐亚科技公司员工志愿者自主发起的互联网公益活动。" />
    <meta name="description" content="锐亚科技志愿者是锐亚科技公司内部员工为响应公司做“最受人尊敬的互联网企业”的号召，自发组织成立的锐亚科技志愿者协会。2012年成立锐亚科技志愿者技术分会，开展404公益计划，无障碍产品推动等，结合锐亚科技产品、技术平台，开展公益帮扶。" />
    <title>一起寻找失踪宝贝_锐亚科技网</title>
    <!--coding by Austinjin&Harleywang-->
    <style>
        html,body{height:100%;}
        /* reset */
        body, h1,th, td {margin: 0; padding: 0;}
        body { font-family: "宋体","Arial",HELVETICA; font-size:14px; background:#FFF;}
        h1{ font-size: 100%; font-weight:normal;}
        table { border-collapse: collapse; border-spacing:0;}
        img {border:none;}
        a,a:hover{ text-decoration:none;}

        /* baby_mod */
        .baby_mod{width:880px;margin:0 auto;font-family: "微软雅黑","MicrosoftYahei","宋体","Arial",sans-serif;_font-weight:bold;overflow: hidden;}

        .baby_mod .hd{}
        .baby_mod .bd{margin:0 auto; background:url(http://mat1.gtimg.com/www/austin/xr/baby_bg.png) right bottom no-repeat;border:#cbcbcb 1px dashed; overflow:hidden;zoom:1;}
        .baby_mod .ft{height:72px;padding-top:16px;}

        .baby_mod h1{margin:90px 0 26px 46px; background: url(http://mat1.gtimg.com/www/austin/xr/title1_all.png) no-repeat; overflow:hidden;text-indent:-9999px; overflow:hidden;}
        .baby_mod .title h1{ width:780px;height:90px;}
        .baby_mod .title_sub h1{width:452px;height:33px;margin-top:26px; background-position:0 -90px;}
        .baby_mod .title{position:relative;}
        .baby_mod .title .backqqcom{ position:absolute;left:325px;top:60px;_left:220px;}
        .baby_mod .title .backqqcom a{display:block;width:145px;height:25px;padding-left:24px;font-size:16px;line-height:20px;color:#0898DD;text-decoration:none;}
        .baby_mod .title .backqqcom a:hover{background-position:-240px -75px;}

        .baby_mod .baby_data{}
        .baby_mod .baby_pic {float:left;width:185px;height:270px;margin:0 28px 32px 46px;_margin:0 14px 16px 23px;padding:6px; background:url(http://mat1.gtimg.com/www/austin/xr/border.png) no-repeat;overflow:hidden;}
        .baby_mod .baby_pic a{display:block;width:185px;height:270px;overflow:hidden;}
        .baby_mod .baby_pic img{height:270px;}
        .baby_mod .baby_info {float:left;width:580px;margin-bottom:30px;}
        .baby_mod .baby_info table{font-size:16px;line-height:30px;}
        .baby_mod .baby_info th{width:130px;font-weight:normal;text-align:right;color:#aaa;}
        .baby_mod .baby_info td{width:360px;padding-left:4px;color:#555;}
        .baby_mod .baby_info td a{ display:inline-block;padding:2px 3px;background:#86af2b;color:#fff;line-height:21px; text-decoration:none;}

        .baby_mod .logo_box a{display:block;float:left; background: url(http://mat1.gtimg.com/www/austin/xr/ico_all.png) no-repeat; overflow:hidden;}
        .baby_mod .logo_box{float:left;width:200px;height:50px;margin-left:46px;_margin-left:23px;}
        .baby_mod .logo_box a{height:50px; text-indent:-999px;}
        .baby_mod .logo_box .support_company a{width:50px;}
        .baby_mod .logo_box .support_company a:hover{ background-position:0 -58px;}
        .baby_mod .logo_box .baby_back{padding-left:80px;}
        .baby_mod .logo_box .baby_back a{width:105px;background-position:-112px 0;}
        .baby_mod .logo_box .baby_back a:hover{background-position:-112px -58px;}

        .baby_mod .bt_box{float:left;padding:6px 0 0 12px;font-size:14px;line-height:20px;color:#555;}
        .baby_mod .bt_box a{color:#0898DD;}
        .baby_mod .bt_box a:hover{color:#16A5FF;}

        .baby_mod .share_box{float:left;width:220px;padding:8px 0 0 90px;}
        .baby_mod .share_box .Qs_txt{width:64px;font-size:14px;font-family: "微软雅黑","MicrosoftYahei","宋体","Arial",sans-serif;_font-weight:bold;}
        .baby_mod .share_box a{ text-indent:-999px;}

        .iShare{font-size:12px;text-align:left;*zoom:1}
        .iShare:after{content:"";display:table;clear:both}
        .iShare ul ,.iShare li{margin:0; padding:0;}
        .iShare li{list - style: none;}
        .iShare .Qs_more ,.iShare .Qs_txt, .iShare a {cursor: pointer;float: left;font-family: '宋体',Arial;width:22px;height: 22px;padding-right:5px;}
        .iShare .Qs_txt{width:50px;color:#717171;line-height:24px;}
        .iShare .Qs_more{background-position:0 0px !important;}
        .iShare .Qs_weibo{background-position:0 -40px !important;}
        .iShare .Qs_qzone{background-position:0 -80px !important;}
        .iShare .Qs_sina{background-position:0 -120px !important;}
        .iShare .Qs_pengyou{background-position:0 -160px !important;}
        .iShare .Qs_qmail{background-position:0 -200px !important;}
        .iShare .Qs_kaixin{background-position:0 -240px !important;}
        .iShare .Qs_renren{background-position:0 -280px !important;}
        .iShare .Qs_weibo:hover ,.iShare .Qs_qzone:hover ,.iShare .Qs_sina:hover ,.iShare .Qs_pengyou:hover ,.iShare .Qs_qmail:hover ,.iShare .Qs_kaixin:hover ,.iShare .Qs_renren:hover{opacity:0.8;filter:alpha(opacity=80);}
        .iShareP1 a ,.QshareP1 span.Qs_more{background:url(http://mat1.gtimg.com/joke/qshare/shareT1.png) no-repeat;height: 15px;width:15px;margin-right:0px;display:inline;line-height:16px;overflow:hidden;}
        .iShareP1 .Qs_txt{line-height:16px;}
        .times{font-size:16px;color:#555;padding-left:16px;position: absolute;left: 268px;top: 60px;background:url(http://mat1.gtimg.com/mini2012/images/img_r1/jt404.jpg) no-repeat 0 4px}
    </style>
</head>
<body>
<script>function ResumeError() {return true;}window.onerror = ResumeError;</script>
<style type="text/css">
    /*带一键登录全站迷你导航 v20130219 loginall @goldenchen*/
    .mininav{width:100%;height:28px;background:#fdfdfd  repeat-x top center;border-bottom:1px solid #ebebeb;}
    .mininavInner{width:1000px;height:28px;margin:0 auto!important;}
    .mininavInner a{color:#666;text-decoration:none;font-family:"宋体";}
    .mininavInner a:hover{color:#2d374b;}
    .mininavInner .mininavLeft{float:left;margin-top:8px;color:#c7c7c7;font-size:12px;}
    .mininavInner .mininavLeft .fl{color:#c7c7c7;}
</style>
<div class="mininav" id="topNav">
<div class="mininavInner">
<div class="mininavLeft">
    <div class="fl">
        <a href="http://www.ryatek.com/" target="_blank" id="qqindex">锐亚科技网首页</a> | <a href="http://www.ryatek.com/map/" target="_blank" id="webmap">网站地图</a>
    </div>
</div>


<style type="text/css">
    ul,li{margin:0;padding:0;}
    li{list-style:none;}
    .fl{float:left;}
    .fr{float:right;}
    .dis{display:block;}
    .undis{display:none;}
    .loginSmartTop,.loginSmartBottom{background-image:url(http://mat1.gtimg.com/www/images/qq2012/qqbg_1.5.2.png); background-repeat:no-repeat;}
    a.login,a.login:hover,a.weiboLogin,a.weiboLogin:hover,a.qzoneLogin,a.qzoneLogin:hover,a.mailLogin,a.mailLogin:hover,a.pengyouLogin,a.pengyouLogin:hover,.mininavRight .weibo,.mininavRight .weibo:hover,.mininavRight .qzone,.mininavRight .qzone:hover,.mininavRight .mail,.mininavRight .mail:hover,.mininavRight .pengyou,.mininavRight .pengyou:hover{background-image:url(http://mat1.gtimg.com/www/images/qq2012/loginall_1.2.png); background-repeat:no-repeat;}
    a.login{width:70px;height:28px;display:block;float:right;background-position:left -450px;}
    a.login:hover{background-position:left -500px;}
    a.weiboLogin{width:30px;height:28px;display:block;float:right;background-position:left -50px;}
    a.weiboLogin:hover{background-position:right -50px;}
    a.qzoneLogin{width:30px;height:28px;display:block;float:right;background-position:left -100px;}
    a.qzoneLogin:hover{background-position:right -100px;}
    a.mailLogin{width:30px;height:28px;display:block;float:right;background-position:left -150px;}
    a.mailLogin:hover{background-position:right -150px;}
    a.pengyouLogin{width:28px;height:28px;display:block;float:right;background-position:left -200px;}
    a.pengyouLogin:hover{background-position:right -200px;}
    .mininavRight{font-size:12px;}
    .mininavRight .weibo{background-position:7px -243px;}
    .mininavRight .weibo:hover{background-position:-79px -243px;}
    .mininavRight .qzone{background-position:7px -294px;}
    .mininavRight .qzone:hover{background-position:-74px -294px;}
    .mininavRight .mail{background-position:7px -340px;}
    .mininavRight .mail:hover{background-position:-77px -340px;}
    .mininavRight .pengyou{background-position:7px -394px;}
    .mininavRight .pengyou:hover{background-position:-76px -394px;}
    .mininavRight{float:right;color:#c7c7c7;line-height:28px;}
    .mininavRight a{color:#666;}
    .mininavRight .qqNameLayout{margin-right:4px;color:#c7c7c7;}
    .mininavRight .qqName{margin-right:12px;color:#666;float:left;}
    .mininavRight .weibo{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:17px;}
    .mininavRight .weibo:hover{color:#fff;background-color:#458fce;}
    .mininavRight .qzone{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:22px;}
    .mininavRight .qzone:hover{color:#fff;background-color:#458fce;}
    .mininavRight .mail{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:19px;}
    .mininavRight .mail:hover{color:#fff;background-color:#458fce;}
    .mininavRight .pengyou{font-family:Tahoma,"宋体";padding:0 7px;display:block;height:28px;float:left;text-indent:20px;}
    .mininavRight .pengyou:hover{color:#fff;background-color:#458fce;}
    .loginSmartBox{width:120px;height:auto;background:#fffbef;position:absolute;top:28px;z-index:100;}
    .loginSmartTop{width:120px;height:3px;overflow:hidden;background-position:-350px -210px;}
    .loginSmartBottom{width:120px;height:3px;overflow:hidden;background-position:-350px -230px;}
    .loginSmartContent{width:118px;border-left:1px solid #f1f1f1;border-right:1px solid #f1f1f1;}
    .loginSmartInner{width:116px;border-left:1px solid #f4d9a4;border-right:1px solid #f4d9a4;}
    .loginSmartInner ul{width:100%;padding:2px 0;}
    .loginSmartInner li{width:100%;height:20px;line-height:20px;color:#666;text-indent:8px;text-align:left;}
    .loginSmartInner li a{color:#666;}
    .loginSmartInner li a:hover span{color:#cd0200;}
    .loginSmartInner li a span,.loginSmartInner li a:hover span{font-family:Tahoma;}
    #pengyouIcon{position:relative;z-index:10000;}
    #mailIcon{position:relative;z-index:10000;}
    #qzoneIcon{position:relative;z-index:10000;}
    #weiboIcon{position:relative;z-index:10000;}
    #loginOut:hover{text-decoration:underline;color:#cd0200;}
    .loginBg{width:100%;min-width:1024px;position:absolute;top:0;left:0;z-index:8888;display:none; _background:#000;_opacity:0.3_;filter:alpha(opacity=30);}

    .mininavRight .qzone{width:auto;}
    .mininavLeft div{line-height:14px;}
    .mininavRight div{line-height:28px;}
</style>

<div class="mininavRight" id="logkey">
    <div id="loginAll" class="fr">
        <!--
        <a href="http://www.pengyou.com" class="pengyouLogin" id="friend" target="_blank"></a>

        <a href="http://mail.ryatek.com" class="mailLogin" id="qmail" target="_blank"></a>
        <a href="http://qzone.ryatek.com" class="qzoneLogin" id="qzone" target="_blank"></a>
        <a href="http://t.ryatek.com?pref=qqcom.home.weiboIN" class="weiboLogin" id="weibo" target="_blank"></a>
          -->
    </div>
    <div id="logined" class="fr" style="display:none;">

        <div id="mailIcon" class="fr">
            <a href="http://mail.ryatek.com" class="mail" id="mailNum" style="padding:0 15px;" target="_blank"></a>
            <div class="loginSmartBox undis" id="mailSmart" style="right:0;">
                <div class="loginSmartTop"></div>

                <div class="loginSmartBottom"></div>
            </div>
        </div>
        <div id="qzoneIcon" class="fr">
            <a href="http://qzone.ryatek.com" class="qzone" id="qzoneNum" style="padding:0 16px;" target="_blank"></a>
            <div class="loginSmartBox undis" id="qzoneSmart" style="right:0;">
                <div class="loginSmartTop"></div>
                <div class="loginSmartContent">

                </div>
                <div class="loginSmartBottom"></div>
            </div>
        </div>
        <div id="weiboIcon" class="fr">
            <a href="http://t.ryatek.com?pref=qqcom.home.weiboenter" class="weibo" id="weiboNum" style="padding:0 14px;" target="_blank"></a>
            <div class="loginSmartBox undis" id="weiboSmart" style="left:0;">
                <div class="loginSmartTop"></div>
                <div class="loginSmartContent">
                    <div class="loginSmartInner">
                        <ul>
                            <li id="weiboTitle">锐亚科技微博:</li>
                            <li id="msgLi" class="undis"><a href="http://t.ryatek.com/messages/inbox?pref=qqcom.home.wbinbox" target="_blank">私信 (<span id="msgNum"></span>)</a></li>
                            <li id="atLi" class="undis"><a href="http://t.ryatek.com/at?pref=qqcom.home.wbat" target="_blank">提到我的 (<span id="atNum"></span>)</a></li>
                            <li id="fansLi" class="undis"><a href="http://t.ryatek.com/follower.php?pref=qqcom.home.wbfollow" target="_blank">新增听众 (<span id="fansNum"></span>)</a></li>
                        </ul>
                    </div>
                </div>
                <div class="loginSmartBottom"></div>
            </div>
        </div>
        <div class="qqNameLayout fr">
            <span class="qqName">您好，<span id="userName"></span> <span>[</span><a href="javascript:void(0);" id="loginOut" target="_self">退出</a><span>]</span></span>|
        </div>
    </div>
</div>



</div>
</div>

<div class="baby_mod">
    <div class="hd">
        <div class="title">
            <h1>404您访问的页面找不回来了！</h1>
            <span class="times"><span id="time">7</span> 秒后</span>
            <div class="backqqcom"><a href="http://www.ryatek.com/?pgv_ref=404click">返回锐亚科技网首页</a></div>
        </div>
    </div>
    <div class="bd">
        <div class="title_sub"><h1>但我们可以一起寻找失踪宝贝</h1></div>
        <div class="baby_data" id="baby_data">
            <script type="text/javascript" src="http://qzone.qq.com/gy/404/data.js" charset="utf-8"></script>
            <script type="text/javascript" src="'/js/find_page.js" charset="utf-8"></script>
        </div>

    </div>
    <div class="ft">
        <div class="logo_box">
            <div class="support_company"><a href="http://e.t.ryatek.com/Tencent-Volunteers" alt="锐亚科技志愿者" title="锐亚科技志愿者">锐亚科技志愿者</a></div>
            <div class="baby_back"><a href="http://bbs.baobeihuijia.com/" alt="宝贝回家" title="宝贝回家">宝贝回家</a></div>
        </div>
        <div class="bt_box">
            <div class="api404">失踪儿童信息来自<a href="http://bbs.baobeihuijia.com/" target="_blank">宝贝回家寻子网</a></div>
        </div>
        <div class="share_box">
            <!-- iShare BEGIN -->
            <div id="iShare" class="iShare iShareP1">
                <span class="Qs_txt">分享到：</span>
                <a class="Qs_weibo" title="锐亚科技微博">锐亚科技微博</a>
                <a class="Qs_qzone" title="QQ空间">QQ空间</a>
                <a class="Qs_sina" title="新浪微博">新浪微博</a>
                <a class="Qs_pengyou" title="朋友网">朋友网</a>
                <a class="Qs_qmail" title="QQ邮箱">QQ邮箱</a>
                <a class="Qs_kaixin" title="开心网">开心网</a>
                <a class="Qs_renren" title="人人网">人人网</a>
            </div>

            <!-- iShare END -->

        </div>

    </div>
</div>

<script>
    var pageTitle = "%23一起来锐亚科技网寻找失踪宝贝%23" + nowBabyInfo;
    var pageUrl = encodeURIComponent('http://' + window.location.host  + window.location.pathname + hashInfo);
    var _appkey = encodeURI('801300956');
    var pagePic = encodeURI(document.getElementById('childPic').src);
</script>

<script src="/js/ry_share.js"></script>
<script type="text/javascript">(function(){shareQQ({WB:false});})();</script>
<script language="javascript">

    var oTime=document.getElementById('time');
    var oSecs=107;
    function time()
    {
        oSecs --;
        if (oSecs < 0)
        {
            clearInterval();
            return;
        }

        if (oSecs == 0)
        {
            clearInterval();
            window.location.href = 'http://www.ryatek.com/?pgv_ref=404';
            //alert(1)
        }
        oTime.innerHTML = oSecs;
    }
    setInterval(time,1000)

</script>


</body>
</html>