<div class="container">
    <style>

        .login-img-wrap {padding-top:20px;background: url(/img/loader.gif) no-repeat center center;}
        .login-img {
            -webkit-box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
            border-radius: 150px;
            margin: 0 auto 20px auto;
            width: 200px;
            height: 200px;
            display: block;
        }



        .login-body {
            background-color: #f1f2f7;

        }

        .form-signin {
            max-width: 330px;
            margin: 100px auto 0;
            background: #fff;
        }

        .form-signin h2.form-signin-heading {
            margin: 0;
            padding:20px 15px;
            text-align: center;
            background: #41cac0;

            color: #fff;
            font-size: 18px;
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
        }
        .login-wrap .user-login {
            margin-bottom: 1em;

        }
        .form-signin .checkbox {
            margin-bottom: 14px;
        }
        .form-signin .checkbox {
            font-weight: normal;
            color: #b6b6b6;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
        }
        .form-signin .form-control {
            position: relative;
            height: auto;
            padding: 10px;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        .form-signin .form-control:focus {
            z-index: 2;
        }


        .form-signin .btn-login {
            background: #f67a6e;
            color: #fff;
            text-transform: uppercase;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            margin-bottom: 20px;
        }

        .form-signin p {
            text-align: center;
            color: #b6b6b6;
            font-size: 16px;
            font-weight: 300;
        }

        .form-signin a {
            color: #41cac0;
        }

        .form-signin a:hover {
            color: #b6b6b6;
        }

        .login-wrap {
            padding: 20px;
        }

        .login-social-link  {
            display: inline-block;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .login-social-link a {
            color: #fff;
            padding: 5px;
        }

        .login-social-link a:hover {
            color: #fff;
        }

        .login-social-link a i {
            font-size: 1.2em;
            padding: 0px 8px;
        }

        .login-social-link a.facebook {
            background: #5193ea;
            margin-right: 5px;
            float:left;
        }

        .login-social-link a.twitter {
            background: #44ccfe;
            float:left;
        }




        body {
            background-color: #f2f3f8;
        }


    </style>
    <form class="form-signin" action="" method="post" id="signInForm" style="display: none2">
        <div class="login-img-wrap">
            <div class="login-img"></div></div>
        <div class="login-wrap">
            <div class="input-group input-group-lg user-login">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input type="text" name="username" class="form-control" value="" placeholder="User name" disabled>
            </div>

            <div class="input-group input-group-lg user-login">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input type="password" class="form-control" placeholder="Password" name="password">
            </div>
            <label class="checkbox">
                <input type="checkbox" value="remember-me"> Remember me
                <span class="pull-right">
                    <a data-toggle="modal" href="#forgetModel"> Forgot Password?</a>

                </span>
            </label>
            <button class="btn btn-lg btn-login btn-block" type="button" id="loginBtn">Sign in</button>


        </div>



                <!-- Modal -->

                <!-- modal -->


        <!-- Modal -->
        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="forgetModel" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Forgot Password ?</h4>
                    </div>
                    <div class="modal-body">
                        <p>Reset your password.</p>
                        <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

                    </div>
                    <div class="modal-footer">
                        <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
                        <button class="btn btn-success" type="button" id="findPwdBtn">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- modal -->

    </form>


</div>




