#ry-menu {float:left}
#ry-menu .btn-group button {margin:0 0.2em}

.ry-navbar .btn-donate {padding: 0 0 0 10px;}
.ry-navbar .btn-donate form { margin:0;}


#user-lang {padding: 14px 0px !important;}
#user-icon>img {width:auto;height:50px}
@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media (max-width: 979px) {
    .navbar-fixed-top { position:fixed; }
}
.tooltip {max-width: 500px;min-width:200px;width:100%}
.person-icon {margin-top: 6px}
.ry-navbar #menu-layoutit { float:left;}
.ry-navbar { min-height: 45px;}
.ry-navbar .navbar-brand {width:180px; color:#fff; padding: 0; margin:0 5px; }
.ry-navbar .navbar-brand img {float:left; margin:2px 10px 0 0; }
.ry-navbar .navbar-brand .label {
    position:relative;
    left:10px;
    top:-3px;
    font-weight:normal;
    font-size:9px;
    background:#666;
    -webkit-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
    box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.edit .demo { margin-left:0px;padding:15px 15px 15px; border: 1px solid #DDDDDD; border-radius: 4px; position:relative; word-wrap: break-word;}
.edit .demo:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Container";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.temp-select {border:2px solid green}
.container { width:auto; margin:0 0px;}
.sidebar-nav {


    margin-top:10px;
    background:#ccc;
z-index:10;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.sidebar-nav .nav-header { cursor:pointer; font-size:14px; color:#fff; text-shadow:0 1px 0 rgba(0, 0, 0, 0.3); text-transform:uppercase; font-weight:bold;}
.sidebar-nav .nav-header span.label { font-size:10px; /*padding-bottom:0;*/ position:relative; top:-1px; }
.sidebar-nav .nav-header i.glyphicon-question-sign { color:#000; text-shadow:0 1px 0 #ddd;}
.sidebar-nav .nav-header .popover {color:#999; text-shadow:none;}

.popover-info {position:relative;}
.popover-info .popover {display:none; top: -12.5px; left:15px; }
.popover-info:hover .popover {display:block; opacity:1; width:400px;}
.popover-info:hover .popover .arrow {top:23px;}

.sidebar-nav .accordion-group { border:none; }
.boxes {}
.sidebar-nav li { line-height:28px; margin-bottom:3px; }
.sidebar-nav li .lyrow { margin-bottom:5px;}
.sidebar-nav .box { line-height:26px; width:160px; height:26px; }
.sidebar-nav .preview { display: block; color:#666; font-size:12px; line-height:26px;}
.sidebar-nav .preview input { width:136px; padding:0 10px; background:#bbb; font-size:10px; color:#999; line-height:20px; height:20px; position:relative; top:-1px; }
.sidebar-nav .view { display: none; }
.sidebar-nav .remove,
.sidebar-nav .configuration { display: none; }

.sidebar-nav .boxes { display:none;}

.demo .preview { display: none; }
.demo .box .view { display: block; padding-top:30px;}


.ui-draggable-dragging .view { display:block;}

.ui-sortable-placeholder { outline: 1px dashed #ddd;visibility: visible !important; border-radius: 4px;}
.edit .drag { position: absolute; top: 0;right: 0; cursor: pointer; }
.edit .drag i {color:#000; text-shadow:0 1px 0 #ddd;}

.box,.lyrow { position:relative;}

.edit .demo .lyrow .drag { top:5px; right:36px; z-index:10; }
.edit .demo .column .box .drag { top:5px; }
.edit .demo .column .box .configuration {position: absolute; top: 3px; right: 140px;white-space:nowrap; }
.edit .demo .column .box .configuration:hover { z-index:1001;}

.edit .demo .column .navbar-fixed-top {top: 33px; left: 180px;}
.demo .column .navbar-fixed-top {top: 33px;}
.edit .demo .column .navbar-fixed-bottom { left: 180px;}

.edit .demo .remove { position: absolute; top: 5px; right: 5px; z-index:10; }
.demo .configuration {
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .drag, .demo .remove {
    filter: alpha(opacity=20); opacity: 0.2;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.demo .lyrow:hover > .drag,
.demo .lyrow:hover > .configuration,
.demo .lyrow:hover > .remove,
.demo .box:hover .drag,
.demo .box:hover .configuration,
.demo .box:hover .remove { filter: alpha(opacity=100); opacity: 1; }
.edit .demo .row:before {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Row";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    line-height:2;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.demo .row {
    background-color: #F5F5F5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 13px rgba(0, 0, 0, 0.1);
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    position: relative;
    padding: 25px  14px 0;
}
.edit .column:after {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Column";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.column {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 24px;
    position: relative;
}

/* preview */
body.devpreview { margin-left:0px;}
.devpreview .sidebar-nav {
    left:-200px;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    transition: all 0ms ease;
}
.devpreview .drag, .devpreview .configuration, .devpreview .remove { display:none !important; }
.sourcepreview .column, .sourcepreview .row, .sourcepreview .demo .box {
    margin:0px 0;
    padding:0px;
    background:none;
    border:none;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.00);
}
.devpreview .demo .box, .devpreview .demo .row { padding-top:0; background:none; }
.devpreview .demo .column { padding-top:19px; padding-bottom:19px; }
#download-layout { display: none }
#feedbackModal textarea,
#downloadModal textarea { width:100%;height:280px;resize: none;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; }
#feedbackModal input { width:515px; }
#feedbackModal input.modal-error-field, #feedbackModal textarea.modal-error-field { border: 1px solid red; }
a.language-selected { font-style: italic; font-weight: bold; }

.modal-body { padding-bottom:0; }
.modal-footer { margin-top:0; }

.list-group-item.search-item {cursor:pointer}



.typeahead,
.tt-query,
.tt-hint {
    width: 396px;
    height: 30px;
    padding: 8px 12px;
    font-size: 24px;
    line-height: 30px;
    border: 2px solid #ccc;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    outline: none;
}

.typeahead {
    background-color: #fff;
}

.typeahead:focus {
    border: 2px solid #0097cf;
}

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-dropdown-menu {
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor {
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}


#__searchitWrapper1 {z-index: 9999}
.file-update {width:200px}
.nav-input input {max-width:50px;width:100%}
.dropdown-large {
    position: static !important;
}
.dropdown-menu-large {
    margin-left: 16px;
    margin-right: 16px;
    padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
    padding: 0;
    margin: 0;
}
.dropdown-menu-large > li > ul > li {
    list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
    text-decoration: none;
    background-color: transparent;
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
    color: #428bca;
    font-size: 18px;
}
.config-section {padding-top: 25px!important;}
@media (max-width: 768px) {
    .dropdown-menu-large {
        margin-left: 0 ;
        margin-right: 0 ;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
    #prev-toolbar .dropdown .caret {margin-top: -13px}
}
div.tool-items>a.tool-item>i {padding:6px;font-size:1.5em}
div.tool-items>a.tool-item>input {margin-top:3px;width:40px;}
div.tool-items>a[data=hidden] {display:none}
.item-gray {background:#aaa}
.pos-bottom {margin-top:350px !important;}
.pos-top {position: absolute !important;top:0px}
/*.view-container .comp-bottom-btns {position: absolute !important;bottom:0px}*/
.searchbox {
    border:1px solid #456879;
    border-radius:6px;
    height: 22px;
    width: 200p;
    margin-top: 5px;
}
#page-form .dropzone {min-height:120px}
#page-form  .dropzone .dz-default.dz-message {top:70%}
.dropzone {min-height:140px}
.dz-default.dz-message {

    background-image: none !important;
}
.dz-default.dz-message>span {
    display: block !important;
    font-size: 1.3em;
    font-weight: 500;
    text-align: center;

}
.setting-item {margin-bottom: 5px;margin-left: 15px}
.expand-item
{
    margin-left: 8px;
    font-size: 1.2em;
    font-weight: bold;
    float:right;
}
.list-item-active
{
    background: #eee;
    border-left: 3px solid #428bca;
}
#app {padding-top: 10px}
#app-pages>.panel-heading {overflow: hidden;padding-top:0px;padding-bottom: 0px}
#app-pages>.panel-heading .app-title { float: left;
    margin-top: 6px}
#app-pages>.panel-heading .top-search { float: right;
    margin-top: 6px;
    padding: 0px 0px 0px 15px;}
.fa-plus {cursor: pointer}
#app-pages>.panel-heading .search_txt {width:auto}
#app-pages>.panel-heading .form-group {margin-bottom: 0px;float:right}
.twitter-typeahead {width:100%}
input.th-input {float:none !important;}

#app-config .dropzone {min-height:100px !important;}
#app-config .dropzone .dz-default.dz-message {top:90%;text-align: center !important}
#page-search {margin-top: 12px}

#page-search .typeahead,#page-search .tt-query, .tt-hint{width:100% !important;height: 100% !important;}

#page-editor #top_toolbar {margin-top: 10px;background: white}
#editor .content {padding-left: 0px;padding-right: 0px !important;}


.btn-circle.btn-xl {
    width: 69px;
    height: 69px;
    padding: 12px 12px;
    font-size: 20px;
    line-height: 1.33;
    border-radius: 35px;
}

.view .comp-bottom-btns {
    bottom: 0px;
    display: inline !important;


}
.view .comp-bottom-btns>a.remove {position: absolute;
    left: 20px;
    top: -20px;
    z-index: 9999;
}
.main-col {    padding-top: 400px !important;}
.view .comp-bottom-btns>span.drag {display: none}
.view .comp-bottom-btns>.view {display: inline}
.view .comp-bottom-btns.box {background: none;border-top:0px}

a.navbar-brand.page-title {padding-left:25px !important;}
.edit-step-1 {position: absolute;top:15px;}


#prev-toolbar .tt-dropdown-menu {left:-215px !important;}

.view-container .comp-desc {display: none}
.boxes .box .preview {display: none}