.emoji-wysiwyg-editor {
    border: 1px solid #d0d0d0;
    overflow: auto;
    outline: none;
}
.emoji-wysiwyg-editor img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin: -3px 0 0 0;
}
.emoji-menu {
    position: absolute;
    z-index: 999;
    width: 180px;
    margin-left: -100px;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.emoji-menu > div {
    max-height: 200px;
    overflow: hidden;
    background: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.emoji-menu img {
    width: 25px;
    height: 25px;
    vertical-align: middle;
    border: 0 none;
}
.emoji-menu a {
    margin: -1px 0 0 -1px;
    border: 1px solid #f2f2f2;
    padding: 5px;
    display: block;
    float: left;
}
.emoji-menu a:hover {
    background-color: #fffae7;
}
.emoji-menu:after {
    content: ' ';
    display: block;
    clear: left;
}
.emoji-menu a .label {
    display: none;
}