/**
    need use the following to build bootstrap less to produce your custom bs style
*/
@charset "UTF-8";




.status>span {
    padding:5px 5px 5px 0px;
}
.fileinput-button {
    position: relative;
    overflow: hidden;
}
#video-status .popover-content {
   text-align: left;
}
#video-status .popover-content,#screen-status .popover-content{
    text-align: left;
}
.fileinput-button input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
    font-size: 200px;
    direction: ltr;
    cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
    .fileinput-button input {
        filter: alpha(opacity=0);
        font-size: 100%;
        height: 100%;
    }
}
.icon-pic-align {
    vertical-align: -23.222%;
}
.i3,.fa-2x {font-size: 3em}
.i2,.fa-2x {font-size: 2em}
.i1,.fa-1x {font-size: 1em}
.i15,.fa-15x {font-size: 1.5em}
.i13,.fa-13x {font-size: 1.3em}
.i14,.fa-14x {font-size: 1.4em}
.i25,.fa-25x {font-size: 2.5em}
/**
#75a8fb
*/

.leftPanel>div.panel {padding-top:1px !important;border-top:#994CC7 solid 3px}
.midPanel>div.panel {padding-top:0px !important;border-top:#9cc573 solid 3px}
.rightPanel>div.panel {padding-top:0px !important;border-top:#FF8600 solid 3px}

.navbar-inverse {background-color:#2b76c7;border-color:#75a8fb }
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {

    background-color: #dd4b39;
}
.navbar-inverse .navbar-nav > li > a {color:#444}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus { background-color: #dd4b39;}

div.modal-body.preview-img {max-height:650px}
.rightPanel>.panel {overflow-y: auto}

.main-container {
    margin:55px auto  0px auto;}



.right-user {
    margin-top: -5px;
    display: block;
    float:right;
    color:#999
}
.left-user {
    margin-top: -5px;
    display: block;
    color:#999
}
.right-user+.msg{margin-top: 16px}
.fa-1-5x{font-size:1.5em;}
/* default styles here for older browsers.
   I tend to go for a 600px - 960px width max but using percentages
*/
@media only screen and (min-width:960px){
    /* styles for browsers larger than 960px; */
}
@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width:2000px){
    /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width:480px){
    /* styles for mobile browsers smaller than 480px; (iPhone) */
}
@media only screen and (device-width:768px){
    .nav > li > a {padding:10px 5px}
    /* default iPad screens */
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}
.offline {filter:gray;-webkit-filter:grayscale(1); filter: grayscale(100%);filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
}
.find-contact-status {padding:10px 0px;}

a#user-notify {color:#75a8fb}
a#user-notify:link {color:white}
a#user-notify:visited {}
a#user-notify:hover {color:white}
a#user-notify:active{color:white}
a#user-notify + div.popover {left:-210px !important;width:300px}
.dropdown-menu > li > div.media {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
    width:300px;
}
input.input-err {color:black !important;font-size: 0.8em;}
.dropdown-menu > li > div.media span.fa {
    margin-top:-3px;
    float:right

}

.dropdown-menu > li > div.media span.fa.rm-msg {
    margin-right:-2px;
    color:#428bca;
    cursor:pointer;


}
.dropdown-menu > li > div.media .media-heading >span {
    display:inline-block;
    overflow: hidden;

}
.bubbledLeft>.media {float:left}
.bubbledRight>.media {float:left}
.dropdown-menu > li > div.media >a > img.media-object {

    width:48px;
    height:48px;

}
.dropdown-menu > li > div.media .media-heading >span.easydate {
    max-width: 110px;
}
.dropdown-menu > li > div.media .media-heading >span.user-realname {
    max-width:110px;
}
.dropdown-menu > li > div.media:hover {background-color: #f3f3f3}
.user-realname {padding-right: 12px}



.input-err {background-color: #F8DCE6 !important}
.return-error {background-color: #f67a6e;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}
.return-suc {background-color: #76a7fa;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}

.form-group input.addon-input {float:left;width:89%}
.form-group span.icon-addon {float:left;padding-top:8px;padding-bottom: 8px;width:11%}


div.form-group.required .control-label:after {

    position: absolute;
    margin-left: 2px;
    content:"*";
    color:red
}
.file-info {
    color:black
}
.file-control .fa {
    cursor: pointer;
}
.msg h4.media-heading {
    font-size: 1em !important;
}

#fixed-chat-user-icon:hover {
    cursor: pointer;
}

div.tooltip-inner {
    max-width: 350px;
}
