
{{include file="common/header_common.phtml"}}

<!-- 配置文件 -->
<script type="text/javascript" src="/assets/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/assets/ueditor/myconfig.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="/assets/ueditor/ueditor.all.min.js"></script>
<!-- 实例化编辑器 -->

</header>
<body>

<script id="container" name="content" type="text/plain">
        这里写你的初始化内容
</script>
<script type="text/javascript">
    var ue = UE.getEditor('container');
</script>
{{include file="common/footer.phtml"}}


</body></html>