{{include file="common/header_common.phtml"}}
<link rel="stylesheet" href="/bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css"/>


<script>
    var menus=[];


</script>

</head>
<body class="skin-blue">
{{include file="common/top_header.phtml"}}
<!-- header logo: style can be found in header.less -->
<div class="wrapper row-offcanvas row-offcanvas-left">
<!-- Left side column. contains the logo and sidebar -->
{{include file="common/left_aside.phtml"}}
<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->
<section class="content-header">

    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<!-- Main content -->
<section class="content"></section><!-- /.content -->
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->


{{include file="common/footer.phtml"}}



</body></html>