<aside class="left-side sidebar-offcanvas">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="{{$user.icon_url}}" class="img-circle user-avatar" alt="User Image" />
            </div>
            <div class="pull-left info">
                <p>Hello, {{$user.realname}}</p>

                <a href="#"><i class="fa fa-circle text-success"></i> {{$lang.online}}</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" id="menu_filter" name="menu_filter" class="form-control" placeholder="{{$lang.search}}..."/>
                            <span class="input-group-btn">
                                <button type='submit' name='seach' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
                            </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">





            {{foreach item=item key=key from=$site.menus.vmenus name=menus}}

            <li  class="search-item {{if $item.subs}}treeview{{/if}}{{if $item.z_is_active}} active{{/if}}">
                <a href="{{$item.href}}" id="menu_{{$item.id}}">
                    {{if $item.isUrl}}

                    <img src="{{$item.icon}}" alt="" width="24px" height="24px"/>
                    {{else}}

                    <i class="{{$item.icon}}"></i>
                    {{/if}}
                    <span class="menu-txt">{{$item.name}}</span>
                    {{if $item.subs}}<i class="fa fa-angle-left pull-right"></i>
                    {{/if}}
                </a>
                {{if $item.subs}}

                <ul class="treeview-menu">
                    {{foreach item=item1 key=key1 from=$item.subs name=menus}}
                    <li class="search-item{{if $item1.z_is_active}} active{{/if}}"><a href="{{$item1.href}}" id="menu_{{$item1.id}}"><i class="{{$item1.icon}}"></i><span class="menu-txt">{{$item1.name}}</span></a></li>
                    {{/foreach}}
                </ul>
                {{/if}}
            </li>
            {{/foreach}}
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

