<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>RuiYa Tech</title>
<meta content='Deploy, scale and monitor your app with our cloud application management platform' name='description'>
<meta content='' name='keywords'>
<meta name="viewport" content="width=device-width">
{{if $commonCss}}
<link rel="stylesheet" href="{{$commonCss}}"/>
{{/if}}
<style>
.input-err {background-color: #F8DCE6 !important}
.return-error {background-color: #f67a6e;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}
.return-suc {background-color: #76a7fa;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}

.f-status {
    color:red
}
.panel {
    -webkit-transition-property : scale;
    -webkit-transition-duration : 0.2s;
    -webkit-transition-timing-function : ease-in-out;
    -moz-transition : all 0.2s ease-in-out;
}

.panel:hover {
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.5);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
}

.list-group-item:first-child {
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.list-group-item > .badge {
    float: right;
}

.list-group-item > .badge + .badge {
    margin-right: 5px;
}

a.list-group-item {
    color: #555555;
}

a.list-group-item .list-group-item-heading {
    color: #333333;
}

a.list-group-item:hover,
a.list-group-item:focus {
    text-decoration: none;
    background-color: #f5f5f5;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
    color: inherit;
}

a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
    color: #e1edf7;
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}
.panel-body {
    padding: 15px;
}

.panel-body:before,
.panel-body:after {
    display: table;
    content: " ";
}

.panel-body:after {
    clear: both;
}

.panel-body:before,
.panel-body:after {
    display: table;
    content: " ";
}

.panel-body:after {
    clear: both;
}

.panel > .list-group {
    margin-bottom: 0;
}

.panel > .list-group .list-group-item {
    border-width: 1px 0;
}

.panel > .list-group .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.panel > .list-group .list-group-item:last-child {
    border-bottom: 0;
}

.panel-heading + .list-group .list-group-item:first-child {
    border-top-width: 0;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.panel-heading > .dropdown .dropdown-toggle {
    color: inherit;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
}

.panel-title > a {
    color: inherit;
}

.panel-footer {
    padding: 10px 15px;
    background-color: #f5f5f5;
    border-top: 1px solid #dddddd;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.panel-default {
    border-color: #dddddd;
}

.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #dddddd;
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #dddddd;
}

.panel-default > .panel-heading > .dropdown .caret {
    border-color: #333333 transparent;
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #dddddd;
}

.panel-primary {
    border-color: #428bca;
}

.panel-primary > .panel-heading {
    color: #ffffff;
    background-color: #428bca;
    border-color: #428bca;
}

.panel-primary > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #428bca;
}

.panel-primary > .panel-heading > .dropdown .caret {
    border-color: #ffffff transparent;
}

.panel-primary > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #428bca;
}

.panel-success {
    border-color: #d6e9c6;
}

.panel-success > .panel-heading {
    color: #468847;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.panel-success > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #d6e9c6;
}

.panel-success > .panel-heading > .dropdown .caret {
    border-color: #468847 transparent;
}

.panel-success > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #d6e9c6;
}

.panel-warning {
    border-color: #faebcc;
}

.panel-warning > .panel-heading {
    color: #c09853;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.panel-warning > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #faebcc;
}

.panel-warning > .panel-heading > .dropdown .caret {
    border-color: #c09853 transparent;
}

.panel-warning > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #faebcc;
}

.panel-danger {
    border-color: #ebccd1;
}

.panel-danger > .panel-heading {
    color: #b94a48;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.panel-danger > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ebccd1;
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-lg {
    padding: 24px;
}

.panel-danger > .panel-heading > .dropdown .caret {
    border-color: #b94a48 transparent;
}

.panel-danger > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #ebccd1;
}

.panel-info {
    border-color: #bce8f1;
}

.panel-info > .panel-heading {
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.panel-info > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #bce8f1;
}

.panel-info > .panel-heading > .dropdown .caret {
    border-color: #3a87ad transparent;
}

.panel-info > .panel-footer + .panel-collapse .panel-body {
    border-bottom-color: #bce8f1;
}

</style>
</head>
<body>

<div class="navbar navbar-top">
    <div class="navbar-inner" style="border-top:0px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <a href="/" class="logo-wrapper" title="Buffalo"><img class="logo" src="/img/logo.png" alt="RuiYa" /></a>
          <span class="btn-menu" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </span>
                    <div class="nav-collapse collapse">
                       
                        <ul class="nav utility-nav" style="vertical-align: middle">

                            <li class="utility utility-sign-in">
                                <a href="#" id="qr-sign-in"><img src="/img/qrcode.png" alt="" height="26" width="26"/></a>
                            </li>
                            <li class="utility utility-sign-in">
                                <a href="#" id="sign-in">{{$lang.signin}}</a>
                            </li>
                            <li class="dropdown pull-right">
                                <a href="#" class="dropdown-toggle user-lang" data-toggle="dropdown" id="user-lang" data-container="body">
                                    <span class="username">{{$lang.lang}}</span><b class="caret"></b></a>
                                <ul class="dropdown-menu lang-switch pull-left">

                                    <li><a href="/landing/index/?lang=zhcn"  data="zhcn">{{$lang.chinese}}</a></li>
                                    <li><a href="/landing/index/?lang=enus"  data="en">{{$lang.english}}</a></li>

                                </ul>
                            </li>

                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

