{{include file="$tempdir/header.phtml"}}

<div class="hero">
    <div class="container">
        <div class="row">
            <div class="col-sm-7 col-md-7 col-lg-7">

                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="/img/landing/1.jpg">
                            <div class="carousel-caption">
                             {{$lang.qyxz}}
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/landing/2.jpg">
                            <div class="carousel-caption">
                              {{$lang.ysbg}}
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/landing/3.jpg">
                            <div class="carousel-caption">
                                 {{$lang.kphd}}
                            </div>
                        </div>
                        <div class="item">
                            <img src="/img/landing/4.jpg">
                            <div class="carousel-caption">
                                {{$lang.sphy}}
                            </div>
                        </div>

                    </div>

                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span style="font-weight: bold">&lt;</span>

                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span style="font-weight: bold">&gt; </span>

                    </a>
                </div>

            </div>
            <div class="col-sm-5 col-sm-5 col-md-5 col-lg-5">
                <div class="nav_btn  {{$langType}}" style="vertical-align: middle;margin-top: 60px">
                    <p>{{$lang.gz_sh_jc}}</p>
                   <p class="p_sec">{{$lang.jy_gt_fx}}</p>

                </div>

                <a href="#" class="btn" style="margin-top: 2em">{{$lang.view_feature}}<span class="ss-navigateright trailing"></span></a>

            </div>
        </div>
    </div>
</div>
<div class="hero-section first-section signup-section">
    <div class="sign-up-bar"><div class="container"><h3>{{$lang.signup}}</h3><h4>&nbsp;</h4>
            <form class="sign-up-form" id="sign-up-form" action="/user/createuser">
                <div class="return-error"></div>
                <div class="return-suc"></div>
                <div class="row">
                    <div class="col-sm-2">

                        <div class="float-label">{{$lang.name}}</div>
                        <input name="reg_username" type="text" id="reg_username" placeholder="{{$lang.name}}" tabind  ex="1" class="text name" ref='{"reg":"username","r":1}'></div>
                    <div class="col-sm-2"><div class="float-label">{{$lang.email}}</div>
                        <input name="reg_email" type="email" placeholder="{{$lang.email}}" tabindex="2" class="text email" ref='{"reg":"email","r":1}'>
                    </div>
                    <div class="col-sm-2">
                        <div class="float-label">{{$lang.password}}</div><input AUTOCOMPLETE="off" type="password" ref='{"reg":"password","r":1}' name="reg_password" placeholder="{{$lang.password}}" tabindex="3" class="text password invalid">
                    </div><div class="col-lg-2"><input type="submit" id="sign-up" value="{{$lang.signup}}" data-text="Sign Up for Free" data-wait-text="Please Wait..." tabindex="4" class="button sign-up-button">
                        <div class="sign-up-terms">
                            {{$lang.landing_agree_to}} {{$lang.ryacomp}} <a href="#"  data-toggle="modal" data-target="#siteTerms">{{$lang.terms_use}}</a>.</div></div>

                </div></form>

            <form class="sign-up-form ajax-form" id="regcode-form" action="/user/newuser" method="post">
                <div class="return-error"></div>
                <div class="return-suc"></div>
                <div class="row">
                    <input name="actionToken" type="hidden" value="{{$actionToken}}">
                    <div class="col-sm-2">

                        <div class="float-label">{{$lang.valcode}}</div>
                        <input name="requestCode" type="text" placeholder="{{$lang.valcode}}"   ref='{"reg":"resetpwd_code","r":1}'></div>


                    <div class="col-sm-2"><button type="button" id="regcode-get" class="button regcode">

                            <div class="countdown" style="display: inline" data-diff="60">{{$lang.getcode}}</div>

                        </button>
                    </div>

                    <div class="col-sm-3"><input type="submit" id="regcode-chk" value="{{$lang.validate}}"  class="button regcode">
                    </div>

                </div>
            </form>


        </div></div>
</div>


<div class="hero-section1 first-section1 download-bar">
    <div class="sign-up-bar"><div class="container">
            <h4 id="download-title">{{$lang.download_clients}}</h4>


            <ul id="download-bar">
                <li><a href="" class="btn1">Android</a></li>
                <li><a href="" class="btn1">Iphone</a></li>

                <li><a href="" class="btn1">MacOS</a></li>

                <li><a href="" class="btn1">Windows</a></li>

                <li><a href="" class="btn1">Linux</a></li>

            </ul>

            <img class="app-qrcode" src="/img/app_qrcode.png" />

        </div></div>
</div>












<!-- Modal -->
<div class="modal fade hidden" id="siteTerms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
                <h4 class="modal-title" id="myModalLabel">{{$lang.terms_use}}</h4>
            </div>
            <div class="modal-body">
                <div id="site-terms">
                    <h2 class="text-center">Statement of Rights and Responsibilities</h2>
                    <p>
                        This agreement was written in English (US). To the extent any translated version of this agreement conflicts with the English version, the English version controls.  Please note that Section 17 contains certain changes to the general terms for users outside the United States.

                        Date of Last Revision: November 23, 2013.
                    </p>
                    <h4>1.Privacy</h4>
                    <p>
                        Your privacy is very important to us. We designed our Data Use Policy to make important disclosures about how you can use RuiYa Tech. to share with others and how we collect and can use your content and information.  We encourage you to read the Data Use Policy, and to use it to help you make informed decisions.
                    </p>
                    <h4>2.Sharing Your Content and Information</h4>
                    <p>
                        You own all of the content and information you post on RuiYa Tech., and you can control how it is shared through your privacy and application settings. In addition:
                    </p>
                    <p>
                    <ol>
                        <li>For content that is covered by intellectual property rights, like photos and videos (IP content), you specifically give us the following permission, subject to your privacy and application settings: you grant us a non-exclusive, transferable, sub-licensable, royalty-free, worldwide license to use any IP content that you post on or in connection with RuiYa Tech. (IP License). This IP License ends when you delete your IP content or your account unless your content has been shared with others, and they have not deleted it.</li>
                        <li>When you delete IP content, it is deleted in a manner similar to emptying the recycle bin on a computer. However, you understand that removed content may persist in backup copies for a reasonable period of time (but will not be available to others).
                        <li>When you use an application, the application may ask for your permission to access your content and information as well as content and information that others have shared with you.  We require applications to respect your privacy, and your agreement with that application will control how the application can use, store, and transfer that content and information.  (To learn more about Platform, including how you can control what information other people may share with applications, read our Data Use Policy and Platform Page.)</li>
                        <li>When you publish content or information using the Public setting, it means that you are allowing everyone, including people off of RuiYa Tech., to access and use that information, and to associate it with you (i.e., your name and profile picture).</li>
                        <li>We always appreciate your feedback or other suggestions about RuiYa Tech., but you understand that we may use them without any obligation to compensate you for them (just as you have no obligation to offer them).</li>
                    </ol>
                    </p>
                    <h4>3.Special Provisions Applicable to Software</h4>
                    <p>
                    <ol>
                        <li>If you download or use our software, such as a stand-alone software product, an app, or a browser plugin, you agree that from time to time, the software may download and install upgrades, updates and additional features from us in order to improve, enhance, and further develop the software.</li>
                        <li>You will not modify, create derivative works of, decompile, or otherwise attempt to extract source code from us, unless you are expressly permitted to do so under an open source license, or we give you express written permission.</li>
                    </ol>
                    </p>
                </div>



            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{$lang.close}}</button>
            </div>
        </div>
    </div>
</div>








<script>
var callBack="{{$callBack}}";
var requestCode="{{$requestCode}}";
var actionToken="{{$actionToken}}";
var meeting={{if $meetingData}}{{$meetingData}}{{else}}{}{{/if}};
</script>
{{include file="common/footer_jq.phtml"}}
<img src="/img/ajax-loading.gif" alt="" style="display:none" class="loading-icon"/>

</body>
</html>
