
{{include file="landing/header.phtml"}}<style>
    body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #e3e3e3;
    }
    .price {
        font-size: 4em;
    }

    .price-cents {
        vertical-align: super;
        font-size: 50%;
    }

    .price-month {
        font-size: 35%;
        font-style: italic;
    }
</style>

<div class="hero">
    <div class="container">
        <div class="row">
            <h3 class="text-center">Pricing plans - wsnippets.com</h3>
            <hr>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3>Basic</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">5 Projects</li>
                        <li class="list-group-item">5 GB of Storage</li>
                        <li class="list-group-item">Up to 100 Users</li>
                        <li class="list-group-item">10 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3>Plus</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$19<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">10 Projects</li>
                        <li class="list-group-item">10 GB of Storage</li>
                        <li class="list-group-item">Up to 250 Users</li>
                        <li class="list-group-item">25 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-danger text-center">
                    <div class="panel-heading">
                        <h3>Premium</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">50 GB of Storage</li>
                        <li class="list-group-item">Up to 1000 Users</li>
                        <li class="list-group-item">100 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-danger ">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading">
                        <h3>Ultimate</h3>
                    </div>
                    <div class="panel-body">
                        <h3 class="panel-title price">$49<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">150 GB of Storage</li>
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">500 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>





<div class="container padTop">
    <div class="row">
        <div class="col-xs-12">
            <h3 class="text-center">We earn your trust</h3>
            <p class="text-center">
                Our success depends on your success and we know it. Over the years we've worked with thousands of customers to deploy and build scalable apps, earning their trust as a true extension of their team. We're proud of our track record and aim to keep it that way.
            </p>
            <p class="text-center padTop hidden-xs">
                <a href="/customers"><img src="/img/index/landing/logos.jpg" class="image-full-width" /></a>
            </p>
        </div>
    </div>
</div>

<div class="container padTop padBottom">

    <p class="padTop padBottom text-center">
        <a href="#myModal" role="button" data-toggle="modal" class="btn btn-large">Try Buffalo <small class="ss-navigateright"></small></a>
    </p>


    <p class="text-center padBottom">
        <img src="/img/index/landing/icon.svg" class="engine-yard-icon" />
    </p>
</div>



<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt><a href="/company">Company</a></dt>
                    <dd><a href="/company/leadership">Leadership</a></dd>
                    <dd><a href="/company/press">Press</a></dd>
                    <dd><a href="/company/events">Events</a></dd>
                    <dd><a href="/company/careers">Careers</a></dd>
                    <dd><a href="/company/contact">Contact</a></dd>
                    <dd><a href="/policies/tos">Policies</a></dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt><a href="/customers">Customers</a></dt>
                    <dd><a href="/customers/case-studies">Case Studies</a></dd>
                    <dd><a href="/customers/testimonials">Testimonials</a></dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt><a href="/partners">Partners</a></dt>
                    <dd><a href="/partners/development-partners">Development Partners</a></dd>
                    <dd><a href="/partners/add-ons">Add-on Partners</a></dd>
                    <dd><a href="/partners/strategic-partners">Strategic Partners</a></dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt><a href="/community">Community</a></dt>
                    <dd><a href="/community/open-source/">Open Source</a></dd>
                    <dd><a href="/community/conferences-and-events/">Conferences &amp; Events</a></dd>
                    <dd><a href="/community/meetups-and-user-groups">Meetups &amp; User Groups</a></dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt>Resource Center</dt>
                    <dd><a href="/resources">Resources</a></dd>
                    <dd><a href="https://support.cloud.engineyard.com/categories/20033681-Engine-Yard-Cloud-Documentation" target="_blank">Documentation</a></dd>
                    <dd><a href="https://support.cloud.engineyard.com/categories/20029066-community-forums" target="_blank">Forum</a></dd>
                </dl>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-12">
                <dl>
                    <dt>Languages</dt>
                    <dd><a href="/"><img src="/img/index/landing/lang-en.png"></a></dd>
                    <dd><a href="http://www.engineyard.co.jp"><img src="/img/index/landing/lang-jp.png"></a></dd>
                    <dt class="system-status"><a href="https://engineyard.statuspage.io" target="_blank">System Status</a></dt>
                    <dd></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a href="/" class="logo-wrapper" title="Buffalo"><img class="logo" src="/img/logo.png"" alt="Buffalo" /></a>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="inline unstyled">
                    <li><a href="http://twitter.com/engineyard" target="_blank"><img src="/img/index/landing/social-twitter.png" alt="@EngineYard on Twitter"></a></li>
                    <li><a href="http://facebook.com/engineyard" target="_blank"><img src="/img/index/landing/social-facebook.png" alt="Buffalo on Facebook"></a></li>
                    <li><a href="http://www.linkedin.com/company/114937" target="_blank"><img src="/img/index/landing/social-linkedin.png" alt="Buffalo on LinkedIn"></a></li>
                    <li><a href="http://vimeo.com/engineyard" target="_blank"><img src="/img/index/landing/social-vimeo.png" alt="Buffalo on Vimeo"></a></li>
                </ul>
            </div>
            <div class="col-md-4 col-sm-12">
                <dl class="legal">
                    <dd>Copyright © RuiYa, Inc. All rights reserved.</dd>
                    <dd><a href="/policies/privacy/">Privacy Policy</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <!--Trial Modal script-->

    <!-- SearchForce  -->
    <div id="sf_fl_content"></div>




</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-body">
        <div class="trial-select masthead padBottom text-center">
            <div class="row">
                <div class="col-xs-12">
                    <h4>
                        Please select your language
                    </h4>
                </div>
            </div>
            <div class="navbar subnav subnav-resources">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="row runtimes">
                            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                                <ul class="nav languages">
                                    <li>
                                        <a href="#php" id="php" class="language icon php">
                                            <img src="/img/index/landing/php.svg">
                                            PHP
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#ruby" id="ruby" class="language icon ruby">
                                            <img src="/img/index/landing/ruby.svg">
                                            Ruby
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#java" id="java" class="language icon java">
                                            <img src="/img/index/landing/java.svg">
                                            Java
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#node" id="node" class="language icon node-js">
                                            <img src="/img/index/landing/node-js.svg">
                                            Node.js
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div id="select-language" class="error hide">
                        * Please select your language
                    </div>
                    <h4>
                        Please select your infrastructure
                    </h4>
                </div>
            </div>

            <div class="navbar subnav subnav-resources">
                <div class="navbar-inner">
                    <div class="container">
                        <div class="row runtimes infrastructurerow">
                            <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                                <ul class="nav languages">
                                    <li>
                                        <a href="#aws" id="aws" class="infrastructure icon aws">
                                            <img src="/img/index/landing/aws.png">
                                            AWS
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#azure" id="azure"  class="infrastructure icon azure">
                                            <img src="/img/index/landing/azure.png">
                                            Azure
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="select-infrastructure" class="error hide">
                        * Please select your infrastructure
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <a href="/trial" id="submit-btn" class="btn" target="_parent">Submit<span class="ss-navigateright trailing"></span></a>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div id="trial-unavailable" class="error hide">
                        * Trial is currently unavailable on this configuration
                    </div>
                    <div id="config-unavailable" class="error hide">
                        * This configuration is currently unavailable
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<style>
    .return-error {background-color: #f67a6e;font-size:1em;margin:3px 0px;padding:10px 5px;display: none}

    .hero-section .sign-up-bar {
        bottom: 0;
        left: 0;
        right: 0;
    }
    .sign-up-bar{
        background-color: #2f688f;
        margin-left: -1px;
        margin-right: -1px;

    }
    .hero-section .sign-up-bar h3 {
        float: left;
        margin-right: 10px;
    }
    .sign-up-bar h3 {
        font-weight: 600;
        color: rgba(255,255,255,0.9);
    }
    h3 {
        font-size: 1.7em;
        font-weight: normal;
    }
    .hero-section .sign-up-bar h4 {
        margin-top: 7px;
    }
    .sign-up-bar h4 {
        font-weight: 400;
        color: rgba(255,255,255,0.7);
    }
    .sign-up-form {
        padding-top: 13px;
    }
    @media (min-width: 768px) {


        .sign-up-form input.text {
            position: relative;
            padding: 14px 12px;
            font-size: 16px;
            line-height: 20px;
            color: #e9e9f5;
            font-weight: 400;
            border: 1px solid rgba(0,0,0,0.5);
            background-color: rgba(0,0,0,0.25);
            -webkit-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
            -moz-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
            box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.25),0px 0 0 1px rgba(255,255,255,0.12),0px 0 3px 0 rgba(255,255,255,0);
        }
        .sign-up-form input {
            position: relative;
            z-index: 2;
            display: inline-block;
            width: 100%;
            margin: 5px 0;
            outline: 0;
            -webkit-border-radius: 0;
            -webkit-background-clip: padding-box;
            -moz-border-radius: 0;
            -moz-background-clip: padding;
            border-radius: 0;
            background-clip: padding-box;
            -webkit-transition: border-color 150ms ease-in-out,-webkit-box-shadow 150ms ease-in-out,top 150ms ease-in-out;
            -moz-transition: border-color 150ms ease-in-out,-moz-box-shadow 150ms ease-in-out,top 150ms ease-in-out;
            -o-transition: border-color 150ms ease-in-out,box-shadow 150ms ease-in-out,top 150ms ease-in-out;
            transition: border-color 150ms ease-in-out,box-shadow 150ms ease-in-out,top 150ms ease-in-out;
        }
        button, input {
            line-height: normal;
        }
        button, input, select, textarea {
            font-family: inherit;
            font-size: 100%;
            margin: 0;
        }
        @media (min-width: 1230px) {
            .sign-up-terms {
                padding-left: 0;
                padding-right: 0;
            }
        }
        @media (min-width: 992px) {
            .sign-up-terms {
                padding: 4px 15px 0;
            }
        }
        @media (min-width: 768px) {
            .sign-up-terms {
                padding: 6px 0 0 0;
                font-size: 11px;
                color: #86b2dc;
            }
        }
    }
    .sign-up-terms {
        padding: 10px 0 0 0;
        text-align: center;
        color: rgba(255,255,255,0.6);
    }
    .sign-up-form input.button {
        padding: 15px 10px 13px;
        background-color: #339ce1;
        border: 1px solid rgba(0,0,0,0.15);
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.15);
        text-transform: uppercase;
        font-size: 16px;
        -webkit-transition: all .25s ease;
        -moz-transition: all .25s ease;
        -o-transition: all .25s ease;
        transition: all .25s ease;
        -webkit-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
        box-shadow: inset 0 0 0 1px rgba(255,255,255,0.07),inset 0 1px 0 0 rgba(255,255,255,0.14),0px 0 1px 0 rgba(0,0,0,0.05);
        -webkit-border-radius: 2px;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 2px;
        -moz-background-clip: padding;
        border-radius: 2px;
        background-clip: padding-box;
    }
    #sign-up {margin-top: 27px}
    .sign-up-terms {font-size: 10px}
    .sign-up-form input.input-err {-webkit-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2),0px 0 0 1px rgba(255,255,255,0.2),0px 0 10px 2px rgba(218,29,94,0.8);
        -moz-box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2),0px 0 0 1px rgba(255,255,255,0.2),0px 0 10px 2px rgba(218,29,94,0.8);
        box-shadow: inset 0 3px 3px -2px rgba(0,0,0,0.2),0px 0 0 1px rgba(255,255,255,0.2),0px 0 10px 2px rgba(218,29,94,0.8);}
</style>
{{include file="common/footer_jq.phtml"}}

</body>
</html>
