{{include file="common/header_bs.phtml"}}

</head>
<body id="preview">









<script type="text/javascript" src="/js/seajs.js"></script>


<script src="/js/modernizr.js"></script>

<script>

    seajs.use(["jqm"],function(){
        seajs.use("bootstrap");
        {{if $actionJs}}
            seajs.use("{{$actionJs}}");
        {{/if}}
        $(function(){

            if(location.href.indexOf("external=1")!=-1){
                opener.$(opener.document).trigger('prev_win_event',{});


            }

        });


});



</script>


</body>
</html>
