<div class="tab-pane" id="pro-avatar" style="min-width:330px">



    <div class="row">
        <div class="form-group">

            <ul class="nav nav-tabs ava-tabs">
                <li><a href="#ava-pic-sec" data-toggle="tab" id="ava-pic-tab">
                    <i class="glyphicon glyphicon-picture i2"></i>
                </a></li>
                <li><a href="#ava-cam-sec" data-toggle="tab" id="ava-cam-tab" class="ava-cam-tab"><span class="glyphicon glyphicon-facetime-video i2"></span>
                </a></li>

                <li><a href="#ava-arch-sec" data-toggle="tab" id="ava-arch-tab" class="ava-arch-tab"> <span class="glyphicon glyphicon-briefcase i2"></span>
                </a></li>

            </ul>

            <div class="tab-content">
                <div class="tab-pane ava-pic-sec" id="ava-pic-sec">
                    <div class="return-error"></div>
                    <div class="return-suc"></div>
                    <p id="avatar-actions" style="display:none;" class="avatar-actions">
                        <button type="button" class="btn btn-default avatar-edit" id="avatar-edit"><%=lang.edit%></button>
                        <button type="button" class="btn btn-default avatar-crop" id="avatar-crop"><%=lang.crop%></button>
                        <button type="button" class="btn btn-primary avatar-upload" id="avatar-upload"><%=lang.upload%></button>
                    </p>

                    <div class="fileshare-form" style="boder:3px dotted black;text-align: center">
                        <div class="fileinput-button icon-pic-align" style="display: inline-block" title="click  and select file to upload" >
                            <span class="fa fa-plus fa-5x" style="margin: 50px 100px;"></span> <input class="fileupload" type="file" name="<%=fileName%>" multiple="" data-original-title="" title=""> </div>
                        <div style="margin:0px 0px 50px 0px;font-weight: bold;font-size: 1.1em;" class="drag-drop-file" id="drag-drop-file">点击加号或者拖放文件上传</div>
                        <div  style="text-align: left"><span id="upload-files" class="upload-files" style="font-size: 1.5em;font-weight: bold"></span></div> '<div id="upload-status" style="text-align: left" class="upload-status"><span class="indicator"></span>
                        <div class="progress progress-striped active"> <div class="progress-bar"  role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                            <span class="sr-only complete">0% 完成</span> </div> </div></div></div>
                    <div class="img-preview">

                        <img src="holder.js/160x160" alt="" class="img-holder">


                    </div>
                </div>
                <div class="tab-pane ava-cam-sec" id="ava-cam-sec">
                    <div class="return-error"></div>
                    <div class="return-suc"></div>
                    <p id="cam-actions" style="display:none;" class="cam-actions">
                        <button type="button" class="btn btn-default avatar-take" id="avatar-take"><%=lang.take%></button>
                        <button type="button" class="btn btn-primary cam-upload" id="cam-upload"><%=lang.upload%></button>
                    </p>
                    <div class="img-preview">

                        <div></div>

                    </div>

                </div>
                <div class="tab-pane ava-arch-sec" id="ava-arch-sec">

                    <div class="return-error"></div>
                    <div class="return-suc"></div>
                    <div class="ava-arch-content">

                    </div>

                </div>

            </div>



        </div>
    </div>
    <div class="row avatar_result" id="avatar_result">



    </div>

</div>