
<div class="modal fade record-win" id="<%=tbName%>_add_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog wrtc-modal-resizable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><div style="display:inline-block;margin-left:3px"><%=l_add%> <%=l_tbName%> <%=l_record%></div></h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" id="add_<%tbName%>">


                    <form class="form-horizontal ajax-form" role="form" action="/admin/table/add" method="post" id="<%=tbName%>-form-add">
                        <div class="return-error"></div>
                        <div class="return-suc"></div>
                        <input type="hidden" name="ztb" value="<%=tbName%>"/>
                        <%for(var key in cols){%>
                        <%if((cols[key].rights &&  (cols[key].rights & 2==2)) || !cols[key].rights){%>
                        <div class="form-group">
                            <%if(cols[key].type!='auto'){%>
                            <label for="i_<%=tbName%>_<%=key%>" class="col-sm-4 control-label"><%=cols[key].desc%></label>

                            <div class="input-group col-sm-8">


                                <%if(inputTypes.indexOf(cols[key].reg)!=-1){%>
                                <%if(cols[key].reg=='file'){%>
                                <button id="upload" class="file-update" data="<%=key%>">Upload</button>
                                <input type="hidden" name="<%=key%>" />
                                <img  class="img-thumb" id="<%=key%>_img">

                                <%} else {%>

                                <input  type="<%=cols[key].reg%>" value="" ref='{"reg":"<%=cols[key].reg%>"}' name="<%=key%>" placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">


                                <%} } else if(cols[key].reg=="timestamp"){%>
                                <input  type="datetime-local" value="" name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">
                                <%} else if(cols[key].enum){%>
                                <select class="form-control" name="<%=key%>" id="i_<%=tbName%>_<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}'>
                                    <%for(var val in cols[key].enum){%>
                                    <option value="<%=val%>"><%=cols[key].enum[val]%></option>
                                    <%}%>
                                </select>
                                <%} else if(cols[key].reg.match(/^.{0,10}(text|desc)$/i) ||(cols[key].lt && cols[key].lt>150) || (cols[key].gt && cols[key].gt>150) || (cols[key].eq && cols[key].eq>150))                                    {%>
                                <textarea   value="" name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off"></textarea>
                                <%} else {%>

                                <input  type="text" value="" name="<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}' placeholder="<%=cols[key].desc%>" id="i_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">
                                <%}%>

                            </div>
                            <%}%>
                        </div>
                        <%}%>
                        <%}%>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary pull-right" id="apply-<%=tbName%>-add" value="<%=lang.apply%>">
                                <input type="reset" class="btn btn-default pull-left" id="apply-<%=tbName%>-reset-add" value="<%=lang.reset%>">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>