<div class="modal fade record-win" id="<%=tbName%>_edit_win" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog wrtc-modal-resizable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel"><div style="display:inline-block;margin-left:3px"><%=l_edit%> <%=l_tbName%> <%=l_record%></div></h4>
            </div>
            <div class="modal-body">
                <div class="tab-pane active" id="edit_<%=tbName%>">

                    <form class="form-horizontal ajax-form" role="form" action="/admin/table/edit/?tb=<%=tbName%>&id=<%=rowId%>" method="post" id="<%=tbName%>-form-edit">
                        <div class="return-error"></div>
                        <div class="return-suc"></div>
                        <input type="hidden" name="ztb" value="<%=tbName%>"/>
                        <%for(var key in cols){%>
                        <%if((cols[key].rights &&  (cols[key].rights & 2==2)) || !cols[key].rights){%>
                        <div class="form-group">
                            <%if(cols[key].type!='auto'){%>
                            <label for="e_<%=tbName%>_<%=key%>" class="col-sm-4 control-label"><%=cols[key].desc%></label>

                            <%if(inputTypes.indexOf(cols[key].reg)!=-1){%>
                            <%if(cols[key].reg=='file'){%>
                            <div class="input-group col-sm-8">

                                <input  type="text" ref='{"reg":"<%=cols[key].reg%>"}' value="<%=row[key]%>" name="<%=key%>" placeholder="<%=cols[key].desc%>" id="e_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">
                            </div>
                            <%} else {%>
                            <div class="input-group col-sm-8">
                                <input  type="<%=cols[key].reg%>" ref='{"reg":"<%=cols[key].reg%>"}' name="<%=key%>" placeholder="<%=cols[key].desc%>" id="e_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">
                            </div>
                            <%}%>
                            <%} else if(cols[key].reg=="timestamp"){%>
                            <div class="input-group col-sm-8 bs-datetime">
                                <input ref='{"reg":"<%=cols[key].reg%>"}' type="datetime" date-format="yyyy-MM-dd hh:mm:ss" value="<%=row[key]%>"  name="<%=key%>" placeholder="<%=cols[key].desc%>" id="e_<%=tbName%>_<%=key%>" class="form-control addon-input" autocomplete="off" autocomplete="off">

                                <span class="input-group-addon icon-addon"><span class="glyphicon-calendar glyphicon"></span></span>

                            </div>
                            <%} else if(cols[key].enum){%>
                            <div class="input-group col-sm-8">
                                <select class="form-control" name="<%=key%>" id="i_<%=tbName%>_<%=key%>" ref='{"reg":"<%=cols[key].reg%>"}'>
                                    <%for(var val in cols[key].enum){%>
                                    <option value="<%=val%>"><%=cols[key].enum[val]%></option>
                                    <%}%>
                                </select>
                            </div>
                            <%} else if(cols[key].reg.match(/^.{0,10}(text|desc)$/i) ||(cols[key].lt && cols[key].lt>150) || (cols[key].gt && cols[key].gt>150) || (cols[key].eq && cols[key].eq>150))                                    {%>

                            <div class="input-group col-sm-8">
                                <textarea ref='{"reg":"<%=cols[key].reg%>"}'  value="<%=row[key]%>" name="<%=key%>" placeholder="<%=cols[key].desc%>" id="e_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off"></textarea>
                            </div>
                            <%} else {%>
                            <div class="input-group col-sm-8">
                                <input ref='{"reg":"<%=cols[key].reg%>"}' type="text" value="<%=row[key]%>" name="<%=key%>" placeholder="<%=cols[key].desc%>" id="e_<%=tbName%>_<%=key%>" class="form-control" autocomplete="off">
                            </div>
                            <%}%>
                            <%}%>
                        </div>
                        <%}%>
                        <%}%>

                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <input type="submit" class="btn btn-primary pull-right" id="apply-<%=tbName%>-edit" value="<%=lang.apply%>">
                                <input type="reset" class="btn btn-default pull-left" id="apply-<%=tbName%>-edit-reset" value="<%=lang.reset%>">
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>