{{include file="common/header_common.phtml"}}
<link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css"/>

<style>
    section.content {height:100%}
</style>
<script>
    var menus=[];



</script>

</head>
<body class="skin-blue">
<!-- header logo: style can be found in header.less -->
{{include file="common/top_header.phtml"}}
<div class="wrapper row-offcanvas row-offcanvas-left">
<!-- Left side column. contains the logo and sidebar -->
{{include file="common/left_aside.phtml"}}

<!-- Right side column. Contains the navbar and content of the page -->
<aside class="right-side">
<!-- Content Header (Page header) -->


<!-- Main content -->
<section class="content">
    <div class="demo-container">
        <ul class="breadcrumb">
          {{$site.vmenus}}
        </ul>
<!-- Small boxes (Stat box) -->
<!-- /.row -->

    </div>
    <iframe src="{{$ifUrl}}" frameborder="0" width="100%" height="100%" frameborder="0" scrolling="no"></iframe>
<!-- top row -->

<!-- /.row -->

<!-- Main row -->
<!-- /.row (main row) -->

</section><!-- /.content -->
</aside><!-- /.right-side -->
</div><!-- ./wrapper -->

<!-- add new calendar event modal -->

{{include file="common/footer.phtml"}}
<!-- jQuery 2.0.2 -->
<!-- jQuery UI 1.10.3 -->



</body></html>